.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Game{
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.Game-header{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

h2.Game-header{
  text-align: left;
  font-size: calc(5px + 2vmin);
}

img.Game-header{
  display: block;
  vertical-align: center;
  height: 100px;
  width: 66px;
}

.Game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Card {
  height: 300px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
